
:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-headings: 'Mooli', serif;

    --spacing-gutter-short: 2rem;
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

head {
    font-size: 62.5%;
}

body {
    font-family: 'Mooli', sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

.main-header {
    background: var(--color-primary-dark);
}

.main-title {
    color: var(--color-white);
    display: flex;
    justify-content: center;

}

.container{
    max-width: 140rem;
    margin: 0 auto;
    padding: var(--gap);
}

.main-content {
    min-height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-gutter-short);
}
  

.buttons-container {
    display: flex;
    flex-direction: column ;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.main-footer {
    background: var(--color-primary-dark);
    display: flex;
    justify-content: space-between;
}

.main-footer a:hover {
    filter: brightness(.8);
}

.creator,
.powered {
    padding: var(--spacing-gutter-short);
}
