:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #ffffff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-headings: 'Mooli', sans-serif;

    --spacing-gutter-short: 2rem;
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background: var(--color-primary-dark-hover);
    color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

a{
    text-decoration: none;
    color: var(--color-white);

}

.header-footer{
    background: var(--color-primary-dark);
}



.container {
    max-width: 144rem;
    padding: var(--spacing-gutter-medium);
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-title h1{
    font-size: 3.2rem;
    font-family: var(--font-headings);
}

.main-title i{
    font-size: 3.2rem;
}

.main-title {
    gap: 1rem;
}

.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.input-title  {
    color: var(--color-primary-dark);
    margin: 0 auto;
}

.wr-box {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: var(--color-gray-0);
    padding: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    gap: 1.5rem;
    min-height: fit-content;

}

.input-box-and-buttons{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    
}

.buttons-box{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;

}

.buttons {
    border: .2rem solid var(--color-black);
    border-radius: .5rem;
    min-width: 16rem;
}

.input{
    border: .2rem solid var(--color-black);
    border-radius: .5rem;
    width: 36rem;
    height: 36rem;
    margin: 0rem;
    padding: 1rem;
    resize: none;
}

.results-box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.n-results-box{
    display: flex;
    align-items: center;
    border: .2rem solid var(--color-black);
    border-radius: .5rem;
    background: var(--color-white);
    min-height: 4.5rem;
    padding: 1rem;
}

.t-results-box{
    border: .2rem solid var(--color-black);
    border-radius: .5rem;
    background: var(--color-white);
    min-height: 18rem;
    padding: 1rem;
}

.results{
    color: var(--color-black);
    font-family: var(--font-primary);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-filter {
    transition: all 300ms ease-in-out;
}
.link-filter:hover {
    filter: brightness(.8);
}