<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="static/text_tools/css/styles.css"> 
    <!--<link rel="stylesheet" href=" {% static 'text_tools/css/styles.css' %}"> -->

    <title>Text Tools</title>

    

</head>

<body>

    {% include "text_tools/partials/header.html" %}

    <main>
        <div class="container">
            <div class="main-content">          
                <div class="wr-box">

                    <div class="input-title">
                        <h2>Enter your text</h2>
                    </div>

                    <div class="input-box-and-buttons">
                        <div class="buttons-box">
                            <button class="buttons" onclick="charactersCounter()">Number Of Caracter</button>
                            <button class="buttons" onclick="upper()">Upper Case</button>
                            <button class="buttons" onclick="lower()">Lower Case</button>
                            <button class="buttons" onclick="abc()">Reverse String</button>
                            <button class="buttons">~</button>
                            <button class="buttons">~</button>
                            <button class="buttons">~</button>
                            <button class="buttons">~</button>
                            <button class="buttons">~</button>
                            <button class="buttons">~</button>
                            <button class="buttons">~</button>
                            <button class="buttons">~</button>
                            <button class="buttons">~</button>
                            <button class="buttons">~</button>
                            <button class="buttons">~</button>
                            <button class="buttons">~</button>
                        </div>

                        <textarea class="input" id="text-input" cols="30" rows="10"></textarea>

                    </div>

                    <div class="results-box">
                        <div class="n-results-box">
                            <p class="results" id="numeric-results"></p>
                        </div>

                        <div class="t-results-box">
                            <p class="results" id="text-results"></p>
                        </div>
                    </div>



                </div>

            </div>

        </div>
    </main>
    

    {% include "text_tools/partials/footer.html" %}


    <script src="static/text_tools/js/main.js"></script>

</body>

</html>